[Desktop Entry]
Name=Bem-vindo TigerOS Studio
Comment=
GenericName=welcome-studio
X-GNOME-FullName=Welcome Tiger
Exec=/opt/welcome-tiger/Welcome/./welcome.sh %u
Path=/opt/welcome-tiger/Welcome
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/opt/welcome-tiger/Welcome.Imgs/Logos/logo.png
Categories=Settings
StartupNotify=false